<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRScanner"
        android:extractNativeLibs="false"
        tools:targetApi="31">
        <!-- Home Activity - Main launcher -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- MainActivity - Check Out feature -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity" />
        
        <!-- CheckInActivity - Check In feature -->
        <activity
            android:name=".CheckInActivity"
            android:exported="false"
            android:label="@string/check_in_mode_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity" />
            
        <!-- UserCheckInActivity - User Check In feature (placeholder) -->
        <activity
            android:name=".UserCheckInActivity"
            android:exported="false"
            android:label="@string/user_check_in_mode_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity" />
            
        <!-- KitBundleActivity - Kit Bundle feature -->
        <activity
            android:name=".kitbundle.KitBundleActivity"
            android:exported="false"
            android:label="@string/kit_bundle_mode_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity" />
            
        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".export.ExportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".export.ExportMethodActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".export.ExportActivity" />
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>
